# Default ignored files
/../../../../Моё/Crypto/TRC20-Contract-Template-main/.idea/shelf/
/../../../../Моё/Crypto/TRC20-Contract-Template-main/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Моё/Crypto/TRC20-Contract-Template-main/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Моё/Crypto/TRC20-Contract-Template-main/.idea/dataSources/
/../../../../Моё/Crypto/TRC20-Contract-Template-main/.idea/dataSources.local.xml
